@using BlazorStyled
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Enumerations
@using System.Drawing

<div class="row floatleft">    
    <TextBoxComponent Name="OrderNumberTextBox" Parent="this" Caption="Order #:"
        ClassName="displayinlineblock" LabelColor="Coral" SendAllTextToParent="true"
        TextBoxTextColor="GhostWhite"
        Column1Width="100" TextBoxWidth="140" LabelClassName="down4 right2 fontsize18"
        Width="260" Text="" Enabled="false" TextBoxBackColor="gray">
    </TextBoxComponent>   
</div>
<div class="row">
    <ComboBox Name="OrderTypeComboBox" Theme=ThemeEnum.Black Unit="px" HeightUnit="px" 
        Height="32" ZIndex="80" LabelText="Order Type:" Width="224" Parent="this" 
        ButtonHeight=25 ButtonWidth=24 LabelFontSize="18" LabelFontName="Calibri"
        TextBoxLeft="0" DropdownClassName="container2 border1gray textdonotwrap"  
        ButtonTop=0 ButtonLeft=0 ListItemWidth="180" ListZIndex=180 ListItemTop=24 
        LabelColor="Color.Coral" Column2Width="128" Position="relative" Top="0"  Left="-3"
        LabelClassName="down4 right2" TextBoxWidth="124" TextBoxHeight="24">
    </ComboBox>
</div>