<div class="row">
    <div class="floatleft">
        <button class="redbutton" @onclick="NewOrder">New Order</button>
    </div>
    <div class="floatleft">
        <button class="redbuttonwide" @onclick="FindOrder">Existing Order</button>
    </div>
</div>
