@page "/"
@namespace AIPizza.Components.Pages
@using ObjectLibrary.Enumerations
@using System.Drawing
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Enumerations
@using AIPizza.Components

<div class="fullscreenimage">
    <div class="floatleft">
        <div class="flex-container">
            <div class="row height32">
                <div class="colspan2 right32 up32">
                    <Label Name="StatusLabel" Parent="this" Unit="vw" FadeValue="2500"
                    LabelColor="Coral" LabelFontSize="20" TextAlign="center" ClientId="statuslabel"
                    Width="20" Visible="@ShowStatusMessage"></Label>
                </div>
            </div>
            @if (ScreenType == ScreenTypeEnum.Default)
            {
                <StartComponent Parent="this"></StartComponent>
            }
            else if (ScreenType == ScreenTypeEnum.FindCustomer)
            {
                <FindCustomer Parent="this"></FindCustomer>
            }
            else if (ScreenType == ScreenTypeEnum.NewCustomer)
            {
                <CustomerEditor Parent="this"></CustomerEditor>
            }
            else if (ScreenType == ScreenTypeEnum.NewOrder)
            {
                <OrderEditor Parent="this"></OrderEditor>
            }
            else if (ScreenType == ScreenTypeEnum.EditCustomer)
            {
                <CustomerEditor Parent="this"></CustomerEditor>
            }
        </div>
    </div>
    @if ((HasCurrentCustomer) && (!CurrentCustomer.IsNew))
    {
        <InformationBox Name="Summary" Parent="this" Title="Customer Info" Height="128" Width="240"
            Column1Width="96" Column2Width="88" Column1Left="8" Gap="8" Top="16"
            HeaderFontSize="16" HeaderFontName="Calibri" ListItemHeight="16"
            Left="168" Theme="@ThemeEnum.Red" BorderColor="Color.Gray" HeaderHeight="28"
            HeaderTextVerticalOffset="4" ListItemTop="1">
        </InformationBox>
        <button class="redbutton down148" @onclick="EditCustomer">Edit</button>
    }
</div>